* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}  

body {

    background-color: #BA94DF;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    display: flex;

}

.main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.botões {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;

}

.bt {
    border: 4px solid black;
    width: 70px;
    height: 90px;
    border-radius: 40px;
    background-color: #BA94DF;
    margin-bottom: 15px;

}

.bt:hover {
    cursor: pointer;
}

#bt-2-1 {
    width: 50px;
}

#bt-2-2 {
    width: 85px;
    background-color: #FBEBD7;
}

#imagem-bt2 {
    width: 40px;
    height: 50px;
}

.legenda {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.bt-legenda {
    background-color: #BA94DF;
    border: 2px solid black;
    border-radius: 40px;
    width: 30px;
    height: 35px;
}

#estrela {
    width: 15px;
    height: 15px;
}

.botões-rodapé {
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.bt-rdp {
    margin-top: 20px;
    background-color: #BA94DF;
    color: white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: none;
    border-top: none;
    width: 60px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.bt-rdp:hover {
    cursor: pointer;
}

#contact {
    border-left: none;
    border-right: none;
}

#get_start {
    color: #BA94DF;
    background-color: white;
    border-radius: 20px;
    width: 90px;
    margin-left: 5px;
}